/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');


/* Navbar */
.nav1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/* */

/* CSS */


/* About */
.sc-about-desc{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
}

.sc-about-desc .bg{
    width: 100%;
    height: 100vh;
    margin-bottom: 5px;
    background-image: url(../IMG/Meinor\ Noob\ To\ Pro.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.sc-team{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d1dee4;
}

.sc-team .line{
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: bold;
    color: #0c0b0b;
    text-align: center;
    font-weight: 600;
}

.sc-team h2{
    color: #0c0b0b;
    text-align: center;
    font-weight: 600;
}

.sc-team .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc-team .container .row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc-team .team{
    border-radius: 10px;
    border: 2px solid #C6C6C6;
    overflow: hidden;
    margin-top: 20px;
    background-color: #FFFF;
}

.sc-team .team-pic{
    align-items: center;
    width: 40vh;
    height: 40vh;
    overflow: hidden;
    margin-bottom: 20px;
}

.sc-team .team-pic img{
    width: 100%;
}

.sc-team .team-desc{
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sc-team .team-desc h4{
    color: #000;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.sc-team .team-desc i{
    color: #808080;
    margin-top: 10px;
}

/* */

/* Footer */
.footer1{
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

.meinor{
    padding-left: 20px;
    text-align: justify;
}

.pengertian1{
    text-align: justify;
    padding-right: 70px;
}

#logofooter{
    width: 150px;
    height: 150px;
}

#logomitra{
    width: 90px;
    height: 100px;
    padding-top: 0%;
}

#logomitra1{
    width: 150px;
    height: 150px;
}

.footer2{
    text-align: center;
}
